
# ignore requirements.txt because this file will change depending on packages selected and I want this to stay unchanged on the master.
requirements.txt

# ignore generated config files
config/installed.txt

# ignore virtual environment folder
djakToolboxVenv/
