[submodule "BASH"]
	path = BASH
	url = git@github.com:jacluff1/BASH.git
[submodule "utilitypy"]
	path = utilitypy
	url = git@github.com:jacluff1/utilitypy.git
[submodule "constants"]
	path = constants
	url = git@github.com:jacluff1/constants.git
[submodule "doepy"]
	path = doepy
	url = git@github.com:jacluff1/doepy.git
[submodule "mathpy"]
	path = mathpy
	url = git@github.com:jacluff1/mathpy.git
[submodule "mlpy"]
	path = mlpy
	url = git@github.com:jacluff1/mlpy.git
[submodule "physpy"]
	path = physpy
	url = git@github.com:jacluff1/physpy.git
[submodule "plotme"]
	path = plotme
	url = git@github.com:jacluff1/plotme.git
